<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.application.sportmates">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/sportmates_main">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".controller.ProfileActivity"
            android:label="@string/sportmates_profile" />
        <activity
            android:name=".controller.EventActivity"
            android:label="@string/sportmates_my_events" />
        <activity android:name=".controller.EventDetailsActivity"></activity>
        <activity android:name=".controller.LoginActivity"
                android:label="@string/sportmates_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>